.navbar{
    display: flex;
    justify-content: space-between;
    background-color:aquamarine;
    width: 700px;
   
}
.navbar li{
    list-style:none;
}
.navbar li a{
    text-decoration: none;
    color:black;
}
.navbar li a{
    color:black;
     text-decoration: none;
}

